body{
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
}

#mp-box-form{
  padding: 15px 10px;
  margin: 30px auto;
  width: 320px;
  background-color: #fff;
  overflow: auto;
  border-radius: 5px;
}

.mp-box-inputs{
  float: left;
}

.mp-col-10{
  width: 10%;
}

.mp-col-25{
  width: 25%;
}

.mp-col-45{
  width: 45%;
}

.mp-col-50{
  width: 50%;
}

.mp-col-75{
  width: 75%;
}

.mp-col-100{
  width: 100%;
  margin: 5px 0;
}

.mp-line{
  width: 100%;
  margin: 5px 0;
}

.mp-box-inputs label{
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 5px 0;
  display: block;
}

.mp-box-inputs label em{
  color: red;
}

.mp-box-inputs input, .mp-box-inputs select{
  width: 100%;
  background-color: #fff;
  border: 1px solid #cecece;
  padding: 5px;
  border-radius: 3px;
  color: #666;
  height: 32px;
  /*font-size: 100%;*/
}

.mp-box-inputs input:focus, .mp-box-inputs select:focus{
  border: 1px solid #999;
  outline: 0;
}

#mp-box-loading{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: -10px 0px;
}

#mp-separete-date{
  vertical-align: middle;
  line-height: 65px;
  text-align: center;
  height: 48px;
  font-size: 16px;
  font-weight: 100;
}

#submit{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#submit:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
